* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body, input, button, select, textarea {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --bgdark: rgb(41, 41, 41);
    --lightgreen: rgb(184, 224, 240);
    --lightviolet: rgb(83, 161, 224);
    --navbar: 60px;
}

body {
    background: var(--bgdark);
}

.container header {
    height: calc(100vh - var(--navbar));
    display: flex;
    align-items: center;
}

.container header .header-container {
    width: 50%;
    height: fit-content;
    padding: 0px 100px;
}

.container header .header-container h2 {
    display: none;
}

.container header .header-container p {
    color: var(--lightgreen);
}

.container header .header-container .lighth1 {
    color: var(--lightviolet);
}

.container header .header-container button {
    padding: 8px 32px; 
    border: 0;
    font-weight: bold;
    color: var(--lightgreen);
    background: var(--lightviolet);
    border-radius: 20px;
    margin-top: 20px;
}

.container header .header-container button:hover{
    background: blueviolet;
}

.container nav {
    height: var(--navbar);
    background: var(--bgdark);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    z-index: 9999;
}

.container nav h2 {
    color: white;
    font-size: 16px;
    margin: 0;
}

.container nav ul {
    width: 100%;
    padding-left: 150px;
    display: flex;
    justify-content: space-between;
}

.container nav a {
    text-decoration: none;
    color: var(--lightgreen);
    font-size: 24px;
}

.container nav a svg {
    display: none;
}

.container nav a:hover {
    color: white;
    transition: 0.3s;
}

.container .about {
    display: flex;
    margin: 120px 0;
    padding: 0px 100px;
}

.container .about .about-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lighth1 {
    color: var(--lightgreen);
} 

.container .about .about-container p {
    color: white;
}

.container .about .img-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container .about .img-container img {
    width: 60%;
    height: 100%;
    object-fit: cover;
}

.container .about .img-container .lines {
    width: calc(60% + 35px);
    height: calc(100% + 35px);
    border: 1px solid var(--lightgreen);
    position: absolute;
}

.lines:nth-child(2) {
    transform: rotate(-3.3deg);
    border: 2px solid blueviolet;
}

.container .services, .container .portfolio {
    text-align: center;
    margin-top: 200px;
}

.container .services .service-container {
    display: flex;
    padding: 0 100px;
    max-width: 1200px;
    margin: 10px auto;
}

.services .service-container .service-card {
    max-width: 360px;
    border: 1px solid var(--lightviolet);
    padding: 40px 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
    border-radius: 15px;
}

.service-card + .service-card {
    margin-left: 25px;
}

.services .service-container .service-card h2 {
    font-weight: lighter;
}

.services .service-container .service-card img {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
}

.portfolio {
    background: url(/assets/portfolio-bg.png);
    height: 550px;
}

.portfolio h1 {
    margin-bottom: 40px;
}

.portfolio .portfolio-container {
    max-width: 1200px;
    display: flex;
    padding: 0 100px;
    margin: 80px auto;
    
}

.portfolio .portfolio-container .portfolio-card {
    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.33) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(42px);

    max-width: 360px;
    border: 1px solid violet;
    border-radius: 10px;
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}

.portfolio-card + .portfolio-card {
    margin-left: 25px;
}

.portfolio .portfolio-container .portfolio-card ul {
    display: flex;
    list-style: none;
    padding: 0;

}

.portfolio .portfolio-container .portfolio-card ul li {
    border: 1px solid var(--lightgreen);
    border-radius: 9px;
    padding: 3px 10px;
    margin-right: 5px;
}

.portfolio-container .portfolio-card .img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 12px;
}

.portfolio-container .portfolio-card .img-container img {
    width: 80%;
    height: 100%;
}

.portfolio-container .portfolio-card .bold {
    font-weight: bold;
}

.portfolio-container .portfolio-card p, .bold { 
    text-align: left;
    margin: 0;
}

.portfolio-container .portfolio-card .img-container .line-tree {
    position: absolute;
    width: calc(80% + 20px);
    height: calc(100% + 20px);
    border: 1px solid var(--lightgreen);
    border-radius: 20px;
    transform: rotate(-2.3deg);
}















/* RESPONSIVIDADE */ 


@media (max-width: 1000px) {
    .container header .header-container {
        width: 70%;
    }

    .container nav {
        padding: 0 100px;
    }

    .container nav ul {
        padding-left: 70px;
    }
    
    .container nav a {
        text-decoration: none;
        color: var(--lightgreen);
        font-size: 20px;
    }

    .container .about, .portfolio {
        flex-direction: column;
        align-items: center;
        margin: 70px 0;
        height: 100%;
    }

    .container .about .about-container, .portfolio-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
    }

    .container .about .img-container {
        width: 80%
    }

    .container .services .service-container {
        flex-direction: column;
        align-items: center;
        padding: 0 100px;
        margin: 20px auto;
    }

    .container .services .service-container {
        padding: 0 20px;
    }

    .container .services .service-container .service-card {
        height: 370px;
    }

    .service-card + .service-card, .portfolio-card + .portfolio-card {
        margin-left: 0px;
        margin-top: 25px;
    }

}


@media (max-width: 767px) {
    .container header .header-container {
        width: 100%;
        padding: 0px 50px;
    }

    .container header .header-container h2 {
        display: block;
        color: white;
        margin-bottom: 50px;
    }

    .container nav {
        padding: 0 50px;
    }

    .container nav h2 {
        display: none;
    }

    .container nav ul {
        padding-left: 0px;
    }
    
    .container nav a {
        text-decoration: none;
        color: var(--lightgreen);
        font-size: 18px;
    }

    .container .about {
        flex-direction: column;
        align-items: center;
        margin: 70px 0;
        padding: 0 50px;
    }

    .container .about .about-container {
        width: 100%;
        margin-bottom: 60px;
    }

    .container .about .img-container {
        width: 100%;
    }

}

@media (max-width: 480px) {

    .container nav {
        width: 100%;
        position: fixed;  
        bottom: 0;
        top: unset;   
    }

    .container nav a {
        font-size: 17px;
    }

    .container nav a svg {
        display: block;
        margin: 5px auto;
        margin-bottom: 5px;
    }

    .container .about, .portfolio {
        margin: 50px 0;
    }
    .container .about .about-container, .portfolio-container {
        font-size: 12px;
    }

    .portfolio .portfolio-container {
        padding: 0;
    }
}